{{ $logo := resources.Get "/images/logo.svg" }}
{{ $menuOpen := resources.Get "/images/menu.svg" }}
{{ $menuClose := resources.Get "/images/menu_close.svg" }}
<header class="xu-header">
  <div class="xu-header-inner">
    <a class="xu-logo" href="https://xubuntu.org/">
      <img src="{{ $logo.Permalink }}" alt="Xubuntu" />
    </a>
    <nav class="xu-nav" id="xu-nav">
      {{- range .Site.Menus.main }}
      <a href="{{ .URL }}">{{ .Name }}</a>
      {{- end }}
    </nav>
    <button class="xu-menu-btn" id="xu-menu-btn" aria-label="Toggle menu" aria-expanded="false" aria-controls="xu-nav">
      <img src="{{ $menuOpen.Permalink }}" id="xu-menu-icon" alt="" />
    </button>
  </div>
</header>
<script>
(function() {
  var btn = document.getElementById('xu-menu-btn');
  var nav = document.getElementById('xu-nav');
  var icon = document.getElementById('xu-menu-icon');
  var openSrc = {{ $menuOpen.Permalink | jsonify }};
  var closeSrc = {{ $menuClose.Permalink | jsonify }};
  btn.addEventListener('click', function() {
    var open = nav.classList.toggle('open');
    btn.setAttribute('aria-expanded', open);
    icon.src = open ? closeSrc : openSrc;
  });
})();
</script>
